.main-chat__main-header
  .main-chat__main-header__left-box
    %h2.main-header__left-box__current-group 
      =@group.name
    %ul.main-header__left-box__member-list 
      Member : 
      - @group.users.each do |user|
        %li.main-header__left-box__menber-list__name
          =user.name
  = link_to edit_group_path(@group) do
    .main-chat__main-header__edit-btn Edit

.main-chat__messages
  = render @messages

.main-chat__form
  = form_for [@group, @message] do |f|
    = f.text_field :content, class: 'main-chat__form__message', placeholder: 'type a message'
    .main-chat__form__mask
      = f.label :image, class: 'main-chat__form__mask__image' do
        = icon('fas', 'image', class: 'main-chat__form__mask__image__icon')
        = f.file_field :image, class: 'main-chat__form__mask__image__hidden'
    = f.submit 'Send', class: 'main-chat__form__submit'